<section class="wrap section">
  <h2>Ersparnis bei ähnlichen Gehältern</h2>

  <table class="table">
    <tr>
      <th>Brutto</th>
      <th>Lohsnteuer 2015</th>
      <th>Lohnsteuer 2016</th>
      <th>Jährliche Ersparniss</th>
    </tr>

    {{#each this}}
      <tr>
        <td><a href="/brutto/{{brutto}}">{{moneyFormat brutto}}</a></td>
        <td>{{moneyFormat tax2015}}</td>
        <td>{{moneyFormat tax2016}}</td>
        <td><strong>{{moneyFormat diff}}</strong></td>
      </tr>
    {{/each}}
  </table>
</section>

