<section class="section result wrap {{#if show}}show{{/if}}">
  <div class="resp-table">
    <div class="tr">
      <div class="td">
        <table class="result-table">
          <tr>
            <th></th>
            <th>Jährlich 2015</th>
          </tr>

          <tr>
            <th class="title">Brutto</th>
            <td class="data-brutto-2015">{{moneyFormat brutto2015}}</td>
          </tr>

          <tr>
            <th class="title">Lohnsteuer</th>
            <td class="data-tax-2015">{{moneyFormat tax2015}}</td>
          </tr>
        </table>
      </div>
      <div class="td right">
        <table class="result-table">
          <tr>
            <th class="min-tablet"></th>
            <th>Jährlich 2016</th>
          </tr>

          <tr>
            <th class="title min-tablet">Brutto</th>
            <td class="data-brutto-2016">{{moneyFormat brutto2016}}</td>
          </tr>
 
          <tr>
            <th class="title min-tablet">Lohnsteuer</th>
            <td class="data-tax-2016">{{moneyFormat tax2016}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="resp-table positive result-message show">
    <div class="tr">
      <div class="td">Ab 2016 sparen Sie jährlich: </div>
      <div class="td right data-diff">{{moneyFormat diff}}</div>
    </div>
  </div>

  <div class="resp-table negative result-message">
    <div class="tr">
      <div class="td">Ab 2016 verlieren sie jährlich: </div>
      <div class="td right data-diff">{{moneyFormat diff}}</div>
    </div>
  </div>

  <span class="meta">
    Berechnungsgrundlage geschätzt aufgrund von 12-fachem Monatsgehalt exklusive Sozialversicherungskosten und möglichen Absetzbeträgen.
  </span>
</section>

